{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>
<body>
    {% include 'appli/navbar.html' %}
    <h1 class="text-center my-4">Update Student</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card bg-info">
                    <div class="card-body">
                        
                        <form action="/test/do-update-std/{{std.id}}" method="POST">
                            {% csrf_token %}
                            <div class="md-3">
                                <label for="roll">Roll</label>
                                <input type="text" name="std_roll" id="roll" class="form-control" required value="{{std.roll}}">
                            </div>
                            <div class="md-3">
                                <label for="name">Name</label>
                                <input type="text" name="std_name" id="name" class="form-control" placeholder="entrer votre nom" required value="{{std.name}}">
                            </div>
                            <div class="md-3">
                                <label for="email">Email</label>
                                <input type="email" name="std_email" id="email" class="form-control" placeholder="entrer votre email" required value="{{std.email}}">
                            </div>
                            <div class="md-3">
                                <label for="address">Address</label>
                                <textarea name="std_address" id="address" class="form-control" placeholder="entrer votre address" required>{{std.address}}</textarea>
                            </div>
                            <div class="md-3">
                                <label for="phone">Phone</label>
                                <input type="text" name="std_phone" id="phone" class="form-control" placeholder="entrer votre noba" value="{{std.phone}}">
                            </div>
                            <div class="conaiter text-center my-3">
                                <button class="btn btn-success">
                                    Update student
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>